/* some style */

.board {
    width: 480px;
    height: 480px;

    border: 2px solid #dddddd;
}

.board:focus {
    outline: none;
}

.row {
    display: flex;
    width: 500px;
    height: 120px;
}

.num {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #dddddd;
    background-color: #ED816A;
    color: white;
    font-size: 40px;
}